<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><img src="/assets/Screenshot 2020-05-14 at 1.23.54 PM.png" style="    width: 43px;"></ion-menu-button>
    </ion-buttons>
    <ion-title><img class="logo-img" src="/assets/Screenshot 2020-05-14 at 1.32.46 PM.png" width="120" alt="" style="    margin-left: -19px;
      width: 153px;"></ion-title>
    <!-- <ion-icon name="cart-outline" style="margin-right: 0;margin-left: 270px;font-size: 35px;" [routerLink]="['/checkout']" routerLinkActive="router-link-active" ></ion-icon> -->
    <!-- <ion-badge color="warning" style="margin-bottom: 19px;font-size: 16px;    padding: 2px;">11</ion-badge> -->

    <img  src="/assets/Screenshot 2020-05-14 at 1.31.52 PM.png" alt="" style="
    position: absolute;
    margin-left: 281px;
    width: 48px;
    margin-top: -24px;
">
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-icon name="add-circle-outline" style="
  font-size: 46px;"></ion-icon>
  <ion-icon name="remove-circle-outline" style="
  font-size: 46px;margin-left: 173px;"></ion-icon>
</ion-content>
