<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img class="logo-img" src="/assets/logo.png" width="120" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: white;">
  <div dynamic><img src="/assets/monica jaquez no watch (1).jpg" alt=""></div>
  <div sec1>
    <h3 secHdng>Biografia</h3>
    <br>
    <h2><span>Pastora</span> Monica Jaquez</h2>
    <p style="color:grey">Es fundadora y Pastora del Ministerio Jesucristo Vive en la Ciudad de New York. Ha sido llamada como instrumento del Señor para llevar el mensaje de esperanza, restauración y vida a las naciones. Es Conferencista, maestra y escritora; sus enseñanzas han llegado a miles de personas guiándolas así a descubrir el verdadero propósito.<br><br>
 
Realizo estudios de asesoría familiar, consejería cristiana, auxiliar administrativo en contabilidad y teología Bíblica en New York.
En la actualidad reside en New York donde ejerce el Ministerio pastoral en el Ministerio Jesucristo Vive.<br><br>

Mónica Jaquez junto a su esposo Raymond son los pastores fundadores y principales del Ministerio Jesucristo Vive en Smithtown New York. Los Pastores Jaquez son personas que hacen solo la voluntad de Dios. No le temen a los retos y es por eso que en el año 2013 compraron una sinagoga judía de 79,500 pies cuadrados donde caben más de 3,000 personas. Ellos movidos por Dios, no expulsaron a las familias judías que todavía se congregaban, antes al contrario actualmente esas familias judías siguen teniendo sus servicios todos los viernes y sábados; además realizan anualmente sus celebraciones principales sin ningún cobro alguno.<br><br>

Los pastores Jaquez junto al liderazgo del Ministerio Jesucristo Vive ofrecen 35 programas totalmente gratis a la comunidad y han ayudado a más de 85,000 familias.
Su visión es seguir predicando el evangelio, ayudando y levantando vidas y familias.</p>
  </div>
</ion-content>
